@import "https://use.typekit.net/lcd3hfj.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "ivypresto-display", serif;
}

body {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

body.home {
  background-color: #FCFBF4;
  width: 100%;
  height: 100%;
}

body.work {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

body.creatives {
  background-color: #FCFBF4;
  width: 100%;
  height: 100%;
}

.footer {
  mix-blend-mode: difference;
  color: white;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  z-index: 100;
}

.footer h1 {
  margin: 0;
  font-size: 0.5vw;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FCFBF4;
  z-index: 200;
  color: black;
  text-align: center;
  list-style: 90vh;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FCFBF4;
  z-index: -10;
  text-align: center;
  list-style: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

video {
  width: 100%;
  height: 100vh;
  background-color: #FCFBF4;
}

.container {
  position: fixed;
  height: 100%;
  width: 20%;
  margin: 1vw;
  z-index: 50;
  color: white;
  mix-blend-mode: difference;
  clear: left;
  float: left;
}

.brand h1 {
  margin-bottom: 0vh;
}

button#btn {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: "ivypresto-display", serif;
  font-size: 1vw;
  padding: 0;
  color: white;
  text-decoration: none;
}

button#btn .toggle-text {
  opacity: 0;
  transition: opacity 0.5s ease;
}

button#btn.show .toggle-text {
  opacity: 1;
}

.logo {
  width: 1vw;
}

.diff {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}


button {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: "ivypresto-display", serif;
  font-size: 1vw;
  padding: 0;
  color: white;

}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0vw;
  font-size: 1vw;
  text-align: left;

}

h1 a {
  color: inherit;
  text-decoration: underline solid currentColor;
  transition: text-decoration 1s ease;
  -webkit-text-decoration: underline solid currentColor;
  -webkit-transition: text-decoration 1s ease;
}

h1 a:hover {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  -webkit-text-decoration: underline solid transparent;
  -webkit-transition: text-decoration 0.5s ease;

}

.underline-visible {
  text-decoration: underline solid currentColor !important;
}

.menu {
  margin-top: 5vh;
}

.menu h1 {
  margin-bottom: 0vh;
}



#btn_work {
  text-decoration: underline solid currentColor;
  transition: text-decoration 1s ease;
  -webkit-text-decoration: underline solid currentColor;
  -webkit-transition: text-decoration 1s ease;
}

#btn_work:hover {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  -webkit-text-decoration: underline solid transparent;
  -webkit-transition: text-decoration 0.5s ease;

}

.about {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-70%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about.show {
  opacity: 1;
}

#btn_about {
  text-decoration: underline solid currentColor;
  transition: text-decoration 1s ease;
  -webkit-text-decoration: underline solid currentColor;
  -webkit-transition: text-decoration 1s ease;
  -moz-transition: text-decoration 1s ease;
}

#btn_about:hover {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  -webkit-text-decoration: underline solid transparent;
  -webkit-transition: text-decoration 0.5s ease;
  -moz-transition: text-decoration 0.5s ease;
}

.founded h1 {
  margin-bottom: 0vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: -20vh;
}

.video {
  width: 100%;
  height: 100%;
  transform: scale(0.66);
}

.image-container {
  position: relative;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease;
  max-width: 100%;
  z-index: 48;
}

.image-wrapper {
  max-width: 100%;
  width: 100%;
}

.image-wrapper img {
  max-width: 100%;
  width: 100%;
}

.image-container.show {
  opacity: 1;
  display: block;
}

/*
.container-prague {
  position: fixed;
  width: 100%;
  margin: 1vw;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: none;
  overflow-y: hidden
;
}


.wrapper {
   overflow: hidden;
   max-width: 25%;
}


.container-prague.show {
    display: block;
    opacity: 1;
}
*/

.show {
  display: block;
}

.work-container {
  height: 100vh;
  position: fixed;
  left: 25vw;
  display: none;
  justify-self: center;
  align-items: center;
  color: white;
  line-height: 4vh;
  mix-blend-mode: difference;
  z-index: 51;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.work-container.work-show {
  opacity: 1;
  display: flex;
}

.work-present {
  position: absolute;
  padding-left: 50vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
}

.work-content.video-show {
  opacity: 1;
}

.work-content.initial-visible {
  opacity: 1;
}


.work-content h1 {
  text-align: center;
  font-size: medium;
}

.work-title {
  margin-top: 10vh;
  margin-bottom: -20vh;
  color: white;
  position: relative;
  z-index: 51;
}

.work-title h1 {
  font-size: x-large;
  font-weight: 600;
}

.work-title p {
  font-size: large;
  font-weight: 400;
  font-style: italic;
}

.work-title a {
  color: inherit;
  text-decoration: underline solid currentColor;
  transition: text-decoration 1s ease;
  -webkit-text-decoration: underline solid currentColor;
  -webkit-transition: text-decoration 1s ease;
  -moz-text-decoration: underline solid currentColor;
  -moz-transition: text-decoration 1s ease;
}

.work-title a:hover {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  -webkit-text-decoration: underline solid transparent;
  -webkit-transition: text-decoration 0.5s ease;
  -moz-text-decoration: underline solid transparent;
  -moz-transition: text-decoration 0.5s ease;
}

.work-video {
  position: relative;
  height: 100%;
  width: 100%;
  transform: scale(0.666);
  z-index: 51;
}

.work-pdf {
  position: relative;
  height: 100%;
  width: 100%;
  transform: scale(0.666);
  z-index: 51;
  margin-top: 2vh;
}

.creatives-present {
  position: absolute;
  padding-left: 50vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}

.creatives-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns with equal width */
  grid-template-rows: repeat(1, auto);
  /* 2 rows with auto height */
  gap: 5px;
  /* Gap between grid items */
  align-items: center;

}

.creatives-grid>div {
  text-align: center;
  /* Center align content */
}

.creatives-grid a {
  color: inherit;
  text-decoration: underline solid currentColor;
  transition: text-decoration 1s ease;
  -webkit-text-decoration: underline solid currentColor;
  -webkit-transition: text-decoration 1s ease;
  -moz-text-decoration: underline solid currentColor;
  -moz-transition: text-decoration 1s ease;
}

.creatives-grid a:hover {
  text-decoration: underline solid transparent;
  transition: text-decoration 0.5s ease;
  -webkit-text-decoration: underline solid transparent;
  -webkit-transition: text-decoration 0.5s ease;
  -moz-text-decoration: underline solid transparent;
  -moz-transition: text-decoration 0.5s ease;
}

.pre-creatives-content {
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  -webkit-transition: opacity 1.5s ease-in-out;
}

.creatives-title {
  margin-top: 10vh;
  margin-bottom: -10vh;
  color: black;
  position: relative;
  z-index: 50;
}

.creatives-title h1 {
  font-size: x-large;
  font-weight: 600;
}

.creatives-title p {
  font-size: large;
  font-weight: 400;
  font-style: italic;
}

.creatives-content img {
  max-width: 5vw;
}

.creatives-content h1 {
  font-size: large;
  font-weight: 600;
}

.creatives-content p {
  font-size: medium;
  font-weight: 400;
  font-style: italic;
}


/* phone */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
  .container {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 1vw;
    top: 0%;
    z-index: 50;
    color: white;
    mix-blend-mode: difference;
  }

  h1 {
    margin-top: 5vh;
    font-size: 4vw;
    letter-spacing: 0vw;
  }

  button {
    font-size: 4vw;
  }

  .brand h1 {
    margin-bottom: -5vh;
  }

  .logo {
    width: 5vw;
  }

  .menu {
    margin-top: 0vh;
    display: flex;
  }

  .menu h1 {
    padding-right: 1vw;
  }

  .founded {
    margin-top: 0vh;
    line-height: 2vh;
  }

  .founded h1 {
    margin-bottom: -5vh;
  }

  .container-prague {
    position: fixed;
    width: auto;
    margin: 1vw;
    top: 50%;
    z-index: 30;
    display: none;
  }

  .wrapper {
    overflow: hidden;
    max-width: 70%;
  }

  .show {
    display: block;
  }
}

/* phone */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
  body {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    --swup-fade-theme-duration: 0.4s;
  }

  .container {
    position: fixed;
    height: 20%;
    width: 100%;
    margin: 1vw;
    z-index: 60;
    color: white;
    mix-blend-mode: difference;
    clear: left;
    float: left;
  }

  .footer {
    z-index: 100;
  }

  .diff {
    position: fixed;
    top: -5%;
    transform: translateY(5%);
    z-index: 59;
  }

  .menu h1 {
    margin-bottom: -5vh;
  }

  .about {
    display: none;
    position: fixed;
    top: 0vh;
    transform: translateY(-5%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 58;
    margin-top: 4vh;
  }

  h1 {
    font-size: 4vw;
  }

  button {
    font-size: 4vw;
  }

  .brand {
    display: flex;
  }

  button#btn {
    background: none;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-family: "ivypresto-display", serif;
    font-size: 4vw;
    padding: 0;
    color: white;
    text-decoration: none;
    display: flex;
  }

  .static-text {
    padding-right: 1vw;
    padding-left: 1vw;
  }

  .footer h1 {
    margin: 0;
    font-size: 2vw;
  }

  .work-container {
    position: fixed;
    left: 1vw;
    justify-self: center;
    align-items: center;
    color: white;
    mix-blend-mode: difference;
    z-index: 49;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .work-container h1 {
    margin-bottom: -6vh;
  }

  .work-present {
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    overflow-y: auto;
  }

  .work-content {
    position: relative;
    top: 70px;
    height: 100vh;
    margin-top: 0vh;
    align-items: center;
  }

  .work-title {
    margin-top: -35vh;
    padding-bottom: 10vh;
    position: relative;
    color: white;
    z-index: 48;
    width: 100%;
  }

  .work-title h1 {
    font-size: medium;
    font-weight: 600;
    text-align: left;
  }

  .work-title p {
    font-size: small;
    font-weight: 400;
    font-style: italic;
  }

  .work-video {
    z-index: 48;
  }

  .work-pdf {
    height: 100%;
    width: 120%;
    scale: transfrom(1);
    z-index: 48;
  }

  .creatives-present {
    position: absolute;
    padding-left: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    overflow-y: hidden;
  }

  .creatives-title {
    margin-top: -45vh;
    padding-bottom: 20vh;
    position: relative;
    color: black;
    z-index: 48;
    width: 100%;
  }

  .creatives-title h1 {
    font-size: medium;
    font-weight: 600;
    text-align: left;
  }

  .creatives-title p {
    font-size: small;
    font-weight: 400;
    font-style: normal;
  }

  .creatives-content {
    text-align: left;
  }

  .creatives-content h1 {
    margin-top: 0vh;
    text-align: left;
    font-size: small;
    font-weight: 600;
  }

  .creatives-content p {
    font-size: x-small;
    font-weight: 400;
    font-style: italic;
  }

  .creatives-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1px;
    align-items: left;
  }

  .creatives-grid>div {
    text-align: left;
  }
}
